{extend name='public:base'}
    {block name='js'}
        <script>
            $(document).ready(function () {
                $( "#draggable1" ).draggable();
                $('#dra1_close').click(function () {
                    $('#cover').remove();
                    $( "#draggable1" ).hide();
                })
                $("#btn1").click(function () {
                    $('#main').append('<div id="cover" style="z-index: 88;position: absolute;top: 0;left: 0;right: 0;bottom: 0;background: #000;opacity: 0.6"></div>');
                    $( "#draggable1" ).show();
                })
            })
        </script>
    {/block}
    {block name='body'}
<div id="ces" class="col-xs-12">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">轮播图管理</font></font></h3>

            <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <!--添加轮播图　弹出框　默认不显示-->
        <div  class="box box-primary" style="z-index: 99999; position: absolute;top:50px;width: 80%;left: 10%;display: none" id="draggable1">
            <div class="box-header with-border">
                <h3 class="box-title">添加</h3>
                <font class="pull-right" style="vertical-align: inherit;width: 20px" id="dra1_close">× </font>
            </div><!-- /.box-header -->
            <div class="box-body" style="">
                <div class="col-md-12 col-sm-12 col-xs-12 ">
                        </div>
                        <div class="box-body">
                            <form action="{:url('doCarousel')}" method="post" id="infoa" enctype="multipart/form-data">
                                <!--role="form"语义化属性，for浏览器和搜索引擎。-->
                                <div class="box-body">
                                    <div class="form-group">
                                        <label>图片名称</label>
                                        <input type="text" class="form-control input-lg"  placeholder="name" name="name">
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="form-group">
                                        <label>优先级</label>
                                        <input type="text" class="form-control input-lg"  placeholder="priority" name="priority">
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="form-group">
                                        <label>选择图片</label>
                                        <input class="form-control input-lg"   type="file" name="imageFile" id="img" />
                                    </div>
                                </div>

                                <!--更多div.form-group-->
                                <div class="box-footer">
                                    <!--提交按钮放在了div.box-footer中-->
                                    <button type="submit" class="btn btn-primary pull-right" id="dra1_btn1">添加图片</button>
                                </div>
                            </form>
                        </div><!-- /.box-body -->

            </div><!-- /.box-body -->
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
                <tbody><tr>
                    <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">id</font></font></th>
                    <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">名称</font></font></th>
                    <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">图片地址</font></font></th>
                    <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">优先级</font></font></th>
                    <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">上传日期</font></font></th>
                    <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">删除</font></font></th>
                </tr>

                {volist name='data' id='list'}

                <tr>
                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{$list['id']}</font></font></td>
                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{$list['name']}</font></font></td>
                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{$list['img']}</font></font></td>
                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{$list['priority']}</font></font></td>
                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{$list['create_time']}</font></font></td>
                    <td><a class="btn btn-primary" href="{:url('reCarousel',['id'=>$list['id']])}">删除</a></td>
                </tr>

                {/volist}
                </tbody></table>

                 <div class="col-sm-9 col-lg-10 pull-left" style="padding-left:10px;">{$data->render()}</div>
                 <div class="col-sm-3 col-lg-2 pull-right" style="padding-bottom: 20px">
                　   <button id="btn1" type="button" class="btn btn-block btn-default"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">添加轮播图</font></font></button>
                 </div>
            <!-- /.box-body -->
        </div>
    </div>
    <!-- /.box -->
</div>
    {/block}
{/extend}